/*------------------ ESTILO LOGIN-----------------*/

#ventanaLogin{
    width:530px;
    height:350px; 
  }

  #corredorLogin{
    width:175px; 
    height:80px;
  }
    #letrasLogin{
        width:250px;
        height:70px;
    }
  h3{ 
    color:white;
  }

  #bodyLogin{
    background-image: url("http://localhost/tragamillas/public/img/icons/pista2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
  }

  .boton{
    background-color:#023ef9;
    color:white;
  }


/* -----------------MENU LATERAL ----------------- */

#menu1{
    width: 20% ; 
    float:left;
    height:100vh;
    /*background-color:#4e83c9 */
     /*background-color:#63a2e5*/
     background-color: #0070c6;
}

#home{   
    border-bottom:solid white 5px;
    background-color: #0b2a85;
    padding-bottom:20px
}

#imgHome{
    margin-left:20px;
    width:67px; 
    height:67px;
    margin-top:-30px
}

.tHome{
    padding-left: 13px;
    color:white;
    font-size:45px;
}

.imgMenu{
    margin-left: 33px;
    width: 40px;
    height: 40px;
    margin-top:-10px;
    margin-bottom:5px
} 

.tMenu{
 padding-left: 25px;
 color:white;
 font-size: 22px;
 font-family: 'Anton', sans-serif;
 font-family: 'Doppio One', sans-serif;
} 


.menu1 a:not(.home){
    padding-top:15px;
    border-bottom:white solid 5px;
}

.menu1 a:hover{
    background-color: #FFBF1C; 
}
#menu1 a:hover{
    background-color: #FFBF1C; 
}


/*------------------ ESTILO HEADER -----------------*/

header{
    height: 110px;
    padding: 20px;
    /* text-align: center; */
    
}

#tHead{
    font-family: 'Anton',sans-serif; 
    color: #0b2a85;
    font-size: 40px; 
    letter-spacing: 5px; 
    margin-left:100px;

}

/*------------------ ESTILO CONTENIDO / TABLA -----------------*/


article{
    width:79%;
    float:left
}

#tabla{
   /* border:solid 2px #023ef9; */
    margin:auto;
    width: 1000px;
    margin-top: 50px;
}




/*---------------------------- ESTILOS TABLAS -------------------------------------*/



/*ICONOS ACCIONES */
.icono{
    width:20px;
    height:20px;
}


/*ESTILOS TABLA */

thead{
    border-bottom:solid #023ef9;
}
tr:nth-child(even) {
    background-color: #CCE6FA;
}

thead tr{
    background-color:#023ef9; 
    color:white;
    text-align:center;
} 
.datos_tabla{
    text-align:center;
}    







/*ESTILOS VENTANAS MODALES */
.modal-title{
    color:#023ef9;
}

label{
   color:#023ef9;
}

a{
    color:black;
    text-decoration: none;
}

.modalVer{  
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px 100px 0px 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modalBorrar{  
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px 100px 0px 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}


#headerVer h2{
    padding: 30px;
    color:#023ef9;
}







/* BOTONES */
#confirmar{
    background-color: #023ef9; 
    color:white;
}

#botonVolver{
    background-color:white; 
    color:#023ef9;
    border-color:#023ef9;
}

label,h2,.info{
    color:#023ef9;
}

#ventana{
    margin: auto;
}






